header {
    display: flex; /* Faz com que os elementos fiquem lado a lado */
    justify-content: space-between; /* Alinha os elementos de acordo com o espaço disponível */
    background-color: #333;
    color: white;
    padding: 1rem; /* Espaçamento interno */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays above other content */
    margin-bottom: 2rem; /* Espaçamento abaixo do header */
}

nav ul { 
    display: flex;
    gap: 1rem; /* Espaçamento entre os itens do menu */
}

nav ul li {
    display: inline; /* Removendo os pontos  da lista*/
}

nav ul li a {
    color: white;
    text-decoration: none;
}